<%- include('header') %>
  <main>
    <h2>Public quizzes</h2>
    <section class="public_list">

      <!-- article will be posted by query-->
      <article class="single_quiz publicQ">
        <h3>Quiz title</h3>
        <span>Creator: name</span>
        <p>Quiz question preview text within 90 letters..</p>
        <a href="#" class="styleBT">Take this quiz</a>
      </article>

    </section>
  </main>


  </body>
</html>
