<%- include('header') %>
  <main>
    <h2>Public quiz feed</h2>
    <section class="public_list">
      <!-- article will be posted by jquery-->
      <article class="single_quiz">
        <h3>Quiz title</h3>
        <a href="#">Take this quiz</a>
      </article>

    </section>
  </main>


  </body>
</html>
