<%- include('header') %>

    <section class="publicList">
      <article class="single_quiz">
        <h2>Quiz title</h2>
        <a href="#">Take this quiz</a>
      </article>
      <article class="single_quiz">
        <h2>Quiz title</h2>
        <a href="#">Take this quiz</a>
      </article>
      <article class="single_quiz">
        <h2>Quiz title</h2>
        <a href="#">Take this quiz</a>
      </article>
    </section>

  </body>
</html>
