<%- include('header') %>

    <main>

      <h2>Quiz Creator's Page : Name</h2>
      <section class="myQuiz">

        <h3 class="quiz_title">Quiz title</h3>
        <span class="title_share_option private">private</span>
        <p>quiz(question) What material is Captain America's shield made of?</p>
        <ol>
          <!--a class will be added on the correct answer-->
          <li id="option1" class="correct">answer1</li>
          <li id="option2">answer2</li>
        </ol>
      </section>
      <!--THis link is for takers-->
      <div class="share">
        <p>Share this quiz to your friends!</p>
        <span>quiz page URL</span> <a href="#" class="shareBT">Copy share link</a>
      </div>

      <!--THis link is the maker's result link-->
      <div class="share">
        <p>Keep this link to track the result of your quiz</p>
        <span>quiz result page URL</span> <a href="#" class="shareBT">Copy result link</a>
      </div>


    </main>

  </body>
</html>
