<%- include('header') %>

    <main>

      <h2>Quiz Creator's Page : Name</h2>
      <section class="myQuiz">
        <h3>Quiz title</h3>
        <p>quiz(question) What material is Captain America's shield made of?</p>
        <ol>
          <!--a class will be added on the correct answer-->
          <li id="option1" class="correct">answer1</li>
          <li id="option2">answer2</li>
        </ol>
      </section>
      <div class="share">
        <span>quiz page URL</span> <a href="#" class="shareBT">Copy share link</a>
      </div>
      <a href="#" class="resultBT">See Result</a>

    </main>

  </body>
</html>
