<%- include('header') %>

<h3>Write Your Quiz</h3>
<form class="form-inline" action="/*****TBD*****" method="POST" id="new-quiz-form">

  <div class="new-quiz-form__field-wrapper">
    <label for="new-quiz-form__title">Quiz title</label>
    <input type="text" name="title" placeholder="Title" id="new-quiz-form__title">
  </div>

  <div class="new-quiz-form__field-wrapper">
    <label for="new-quiz-form__title">Question Content</label>
    <input type="text" name="question" placeholder="question" id="new-quiz-form__question">
  </div>

  <div class="new-quiz-form__field-wrapper">
    <label for="new-quiz-form__title">Answer 1 Content</label>
    <input type="text" name="answer1" placeholder="Answer 1" id="new-quiz-form__answer1">
  </div>

  <div class="new-quiz-form__field-wrapper">
    <label for="new-quiz-form__title">Answer 2 Content</label>
    <input type="text" name="answer2" placeholder="Answer 2" id="new-quiz-form__answer2">
  </div>

  <div class="new-quiz-form__field-wrapper">
    <label for="new-quiz-form__title">Which answer is correct?</label>
    <input type="radio" id="a1" name="correctanswer" value="answer1">
    <label for="aanswer1">Answer 1</label><br>
    <input type="radio" id="a2" name="correctanswer" value="answer2">
    <label for="answer2">answer 2</label><br>
  </div>

  <div class="new-quiz-form__field-wrapper">
    <label for="new-quiz-form__title">Is this quiz public or private?</label>
    <input type="radio" id="public" name="privacy" value="public">
    <label for="public">Public</label><br>
    <input type="radio" id="private" name="privacy" value="private">
    <label for="private">Private</label><br>
  </div>

  <div class="new-quiz-form__field-wrapper">
    <button type="submit">Create</button>
  </div>

</form>



  </body>
</html>
