<%- include('header') %>
<main>

  <h3>Write Your Quiz</h3>
  <form action="/m/new" method="POST" id="new-quiz-form">

    <div class="form-block-wrap">
      <label for="title">Quiz title</label>
      <input type="text" name="title" placeholder="Quiz title" id="title">
    </div>

    <div class="form-block-wrap">
      <label for="question">Question</label>
      <textarea name="question" row="3" placeholder="Write you quiz question here!" id="question"></textarea>
    </div>

    <div class="form-inline-wrap">
      <p>Please insert options and click the circle-button on the right side to set up right answer.</p>
      <label for="answer1">1.</label>
      <input type="text" name="answer1" placeholder="Answer option 1" id="answer1">
      <input type="radio" name="correct_answer" value="1" id="option1" >
    </div>

    <div class="form-inline-wrap">
      <label for="answer2">2.</label>
      <input type="text" name="answer2" placeholder="Answer option 2" id="answer2">
      <input type="radio" name="correct_answer" value="2" id="option2">
    </div>

    <div class="form-inline-wrap">
      <p>Is this quiz public or private?</p>
      <input type="radio" name="privacy" value="public" id="public">
      <label for="public">Public</label>
      <input type="radio" name="privacy" value="private" id="private">
      <label for="private">Private</label>
    </div>

    <div class="BTwrap_right">
      <button type="submit" class="submitBT">Create</button>
    </div>

  </form>


</main>


</body>
</html>
