<%- include('header') %>

    <main>

      <h3 class="quiz_title">quiz(title)</h3>
      <span class="title_share_option private">private</span>
      <p class="question">
        <span>Q.</span> question(content) What material is Captain America's shield made of?
      </p>

      <form action="" method="POST" id="take-quiz-form">
        <div class="form-inline-wrap">
          <input type="radio" id="possiblea1" name="pickanswer" value="answer1">
          <label for="take_quiz_option1">answer1 Vibranium</label>
        </div>
        <div class="form-inline-wrap">
          <input type="radio" id="possiblea2" name="pickanswer" value="answer2">
          <label for="take_quiz_option2">answer2 Galvorn</label>
        </div>

        <div class="form-inline-wrap">
          <label for="taker_name">Your name</label>
          <input type="text" id="taker" name="taker_name" placeholder="optional">
          <button type="submit">Submit answer</button>
        </div>


      </form>

    </main>

  </body>
</html>
