<%- include('header') %>
    <main>

      <h2>Quiz taker's Result</h2>
      <section class="myQuiz">

        <h3 class="quiz_title">Quiz title</h3>
        <span class="title_share_option private">private</span>

        <!--display one div of correct & fail-->
        <div class="wrapBT">
          <p>Correct answer!</p>
          <a href="#" id="retakeBT" class="shareBT">Go to take more quizzes</a>
        </div>

        <div class="wrapBT">
          <p>Nope!</p>
          <a href="#" id="retakeBT" class="shareBT">Retake quiz</a>
        </div>

        <div class="wrapBT">
          <a href="#" id="result_detail" class="shareBT">Dtails of quiz result</a>
        </div>

        <div class="quiz_result">

        <table class="result_table">
          <tr>
            <th>Taker</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>taker1</td>
            <td>correct</td>
          </tr>
          <tr>
            <td>taker1</td>
            <td>failed</td>
          </tr>
        </table>


          <p>Total <span>quiz(attempt)</span> attempt</p>
          <p><span>correct answer attempt / total attempt * 100 </span>% of attemptation answered correctly.</p>
        </div>

      </section>

      <!--THis link is the taker's result link-->
      <div class="share">
        <span>quiz take's result page URL</span> <a href="#" class="shareBT">Copy result link</a>
      </div>

    </main>

  </body>
</html>
